/* 主視覺 */
.primary {
  color: #aa0601;
}
.secondary {
  color: #650300;
}
.light {
  color: #fbf2f2;
}
.dark {
  color: #000;
}
.bg-primary {
  background-color: #aa0601;
}
.bg-secondary {
  background-color: #650300;
}
.bg-light {
  background-color: #fbf2f2;
}
.bg-dark {
  background-color: #000000;
}
